/*
  ========================================
  body
  ========================================
*/

body {
  background-image: url(/images/alice.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 90%;
}
#posts_img {
  max-width: 100px;
  margin: 20px 10px -20px;
}
.post_box {
  max-height: 100%;
  overflow-y:auto;
  z-index: 3:
}
/*
  ========================================
  Links
  ========================================
*/

a {
  text-decoration: none;
  color: black;
}
li a {
  color: #505050;
  font-family: 'Orbitron';
}
li a:hover {
  font-size: 103%;
  color: black;
}
h2 a {
  color: black;
  font-family: sans-serif;
}
/*h2 a:hover {
  font-size: 110%;
}*/
a:hover {
  color: teal;
}
p a {
  color: red;
}

/*
  ========================================
  Styling
  ========================================
*/
p {
  text-indent: 50px;
  text-align: left;
  color: white;
  font-size: 15px;
}
.post_box p {
  color: black;
}
h1 {
  font-size: 200%;
}
h2 {
  font-weight: 400;
  opacity: .8;
  /*text-align: left;*/
  line-height: 25px;
  padding-top: 3%;
  margin-left: 3%;
}
h4 {
  font-size: 70%;
  margin-left: 7%;
}
#preview {
  padding: 10px;
  margin-left: 3%;
  line-height: 25px;
  background: rgba(63, 191, 191, 0.25);
  max-width: 65%;
  min-width: 300px;
  text-align: left;
  font-size: 85%;
  border-radius: 10px;
}

#blog_post {
  padding: 10px;
  margin-left: 3%;
  line-height: 25px;
  background: rgba(255, 255, 255, 0.79);
  max-width: 65%;
  min-width: 300px;
  text-align: left;
  font-size: 85%;
  border-radius: 10px;
}
#blog_post h2 {
  text-align: center;
}

#date {
  text-align: center;
  color: black;
}
#content {
  color: black;
}

/*
  ========================================
  Nav
  ========================================
*/

.navbar-fixed nav {
    background-color: rgba(63, 191, 191, 0.45);
    position: fixed;
}
.btn {
  max-width: 120px;
  min-width: 50px;
  /*margin: 3px;*/
}

nav ul a {
    font-size: .9em;
    margin: -10px;
  }

nav .nav-wrapper {
  position: relative;
  height: 100%;
  padding-top: 18px;
}

h1, .name {
  font-size: 250%;
  float: right;
  padding-right: 10px;
  font-family: 'Indie Flower';
}

/*
  ========================================
  About
  ========================================
*/
#profile_pic {
  display: block;
  height: 100px;
  opacity: 0.2;
  left: 12%;
  position: relative;
  border-radius: 10%;
  padding: -10%;
}
#profile_pic:hover {
  opacity: 3.0;
  height: 250px;
  padding: 0;
  border-radius: 50%;
}

/*
  ========================================
  Footer
  ========================================
*/
footer {
  z-index:1;
  clear: both;
  position:fixed;
  bottom:0;
  height: 2em;
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.87) 12%, rgba(63, 191, 191, 0.45) 100%);
  opacity: .7;
  width:100%;
  padding: 10px 0;
  text-align: right;
  text-transform: uppercase;

}
#contact {
  float: right;
  color: rgba(7, 56, 216, 0.52)
  font-family: 'Indie Flower', cursive;
  padding-left: 2%;
  padding-bottom: 5px;
  font-size: 85%;
}
#insta {
    padding-left: 30px;
    padding-bottom: 25px;
    float: right;
}
