/*
  ========================================
  body
  ========================================
*/
body {
  background-image: url(/images/sofia_white.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 90%;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  text-decoration: none;
  color: white;
}
li a {
  color: #505050;
  font-family: 'Sigmar One', cursive;
}
li a:hover {
  font-size: 120%;
  color: red;
}
h2 a {
  color: white;
  font-family: 'Orbitron', sans-serif;
}
h2 a:hover {
  font-size: 120%;
}
a:hover {
  color: black;
}
p a {
  color: red;
}

/*
  ========================================
  Styling
  ========================================
*/
.top {
  text-align: center;
  width: 24%;
  padding: 20px;
  display: inline-block;
  float: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 300%;
  background: rgba(255, 0, 0, 0.1);
  border-radius: 70%;
  box-shadow: 0px, 0px, 0px, 15px white;
  line-height: 65px;
  color: white;
}
.title {
  display: inline-block;
  font-size: 120%;
  font-weight: 500;
  font-family: 'Orbitron', sans-serif;
  color: black;
  float: center;
  text-align: left;
  line-height: 45px;
  padding-top: 20px;
  padding-right: 9%;
  margin: 30px;
}
p {
  text-align: center;
  color: white;
  font-size: 15px;
}
h1 {
  font-size: 200%;
}
h2 {
  font-size: 150%;
  font-weight: 400;
  color: white;
  opacity: .8;
  float: center;
  text-align: center;
  line-height: 25px;
  margin: auto;
  padding-right: 9%;
  padding-top: 3%;
  width: 40%;
  color: white;
}
h4 {
  text-align: inherit;
  padding-left: 10%;
  font-size: 70%;
}
#preview {
  padding: 10px;
  margin-left: 10%;
  line-height: 25px;
  background: -webkit-linear-gradient(left, rgba(242,118,99,1) 0%, rgba(239,79,62,0.94) 7%, rgba(235,88,71,0.9) 11%, rgba(252,227,224,0.24) 85%, rgba(255,255,255,0.24) 100%);
  max-width: 45%;
  color: black;
  text-align: left;
  font-size: 85%;
  z-index: 2;
  position: relative;
  border-radius: 10px;
}
#blog_post {
  float: left;
  margin-left: 21%;
  line-height: 25px;
  margin-bottom: 5%;
  background-color: white;
  border-radius: 4%;
  opacity: .8;
  max-width: 40%;
  text-align: center;
  padding: 10px;
  z-index: 2;
  position: absolute;
}
#date {
  color: black;
  padding-left: 10%;
}
#date_box {
  margin: 10px;
  line-height: 25px;
  background-color: #ff9999;
  opacity: .4;
  max-width: 60%;
  border-radius: 10px;
  padding-left: 10%;
}
#content {
  color: black;
}

/*
  ========================================
  Nav
  ========================================
*/

.nav {
  padding-top: 15%;
  text-align: right;
}
.nav li {
  margin: 5px;
  max-width: 700px;
  padding: 10px;
}
.nav li:last-child {
  margin-right: 0;
}

.primary-nav {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
  float: right;
  padding-right: 10%;

}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
#insta {
  padding-top: 10%;
  float: right;
}

/*
  ========================================
  About
  ========================================
*/
#profile_pic {
  display: block;
  height: 100px;
  opacity: 0.2;
  left: 12%;
  position: relative;
  border-radius: 10%;
  padding: -10%;
}
#profile_pic:hover {
  opacity: 3.0;
  height: 250px;
  padding: 0;
  border-radius: 50%;
}
#about {
  color: white;
  margin: 20px;
  line-height: 25px;
  background-color: black;
  border-radius: 10%;
  text-align: center;
  padding: 10px;
}
#about_box {
  opacity: .6;
  padding-left: 27%;
  max-width: 40%;
}
#rachel {
  color: red;
}

/*
  ========================================
  Footer
  ========================================
*/
footer {
  z-index:1;
  clear: both;
  position:fixed;
  bottom:0;
  height: 1em;
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.87) 22%, rgba(234,81,67,0.42) 100%);
  opacity: .5;
  width:100%;
  padding: 10px 0;
  text-align: right;
  text-transform: uppercase;

}
#contact {
  color: black;
  font-family: 'Indie Flower', "Open Sans", "Helvetica Neue";
  font-family: 'Orbitron', sans-serif;
  font-family: 'Sigmar One', cursive;
  padding-right: 12%;
  font-size: 75%;
}
