<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" name=viewport content='width=700' >
  <title>{{ site.title }}</title>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css' rel='stylesheet'>
  <link href="/css/reset.css" rel="stylesheet" />
  <link href="/css/styles.css" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300'rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Orbitron:400,500' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
</head>

<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="/">
          <h1 class="name hide-on-small-only">k<span class="orange-text">H</span>ode<span class="orange-text">r</span></h1>
        </a>
        <!-- <a href="#!" class="brand-logo">Logo</a> -->
        <ul class="left">
          <li><a href="/" class='waves-effect waves-light'><span class="orange-text">P</span>osts</a></li>
          <li><a href="/about.html" class='waves-effect waves-light'><span class="orange-text">A</span>bout</a></li>
          <li><a href="https://github.com/SteveOscar" class='waves-effect waves-light'><span class="orange-text">G</span>ithub</a></li>
          <li><a href="https://www.theretohere.com" class='waves-effect waves-light'><span class="orange-text">P</span>hotos</a></li>
          <!-- <li><a href="https://www.instagram.com/there_to_here_"><img id="insta" src="/images/insta.png" height=40></a></li> -->
        </ul>
      </div>
    </nav>
  </div>
<!--
  <div class="container"> -->
<body>
