<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link href="/css/reset.css" rel="stylesheet" />
  <link href="/css/styles.css" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300'
    rel='stylesheet' type='text/css'>
</head>

<body>

  <div class="title">
    <h1>{{ site.title }}</h1>
  </div>
  <nav class="nav primary-nav">
    <ul>
      <li><a href="/about.html">About</a></li>
      <li><a href="/">Posts</a></li>
      <li><a href="https://github.com/SteveOscar">Github</a></li>
      <li><a href="https://www.theretohere.com">Photos</a></li>
    </ul>
  </nav>
  <div class="container">
